/vendor
/.idea
/.vscode
/.vagrant
php-executable

# libraries dont track *.lock
composer.lock

# phpunit
coverage/
.phpunit.result.cache
*.phar
infection.log*

informes/
codecoverage/
vendor

junit.xml
myreport/

# Dummy files for manual testing
Dummy.php
src/dummy/


/githooks.yml
/githooks.php


tools/tmp/

# Builds
githooks-71
githooks-73
githooks-80

*.zip
*.md