/vendor
/.idea
/.vscode
/.vagrant

# libraries dont track *.lock
composer.lock

# phpunit
coverage/
.phpunit.result.cache
*.phar
infection.log*

informes/
codecoverage/
vendor

junit.xml
myreport/

# Dummy files for manual testing
Dummy.php
src/dummy/


# Tests directory
testsDir/src
testsDir/app
testsDir/vendor
testsDir/githooks.yml


*.md