<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Integration</directory>
            <exclude>./tests/Integration/FileUtilsTest.php</exclude>
        </testsuite>
        <testsuite name="System">
            <directory>./tests/System</directory>
            <exclude>./tests/System/ReleaseTest.php</exclude>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>release</group>
        </exclude>
    </groups>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>