# Phpqa copia este fichero de configuracion y lo ejecuta desde el directorio "build"
# currentWorkingDirectory es donde se ejecuta phpstan, en este caso desde ./
{
    parameters: {
        level: 8
        paths: [
            %currentWorkingDirectory%/src,
            # %currentWorkingDirectory%/tests
        ]
        checkMissingIterableValueType: false
        ignoreErrors: [
           '#Method [a-zA-Z0-9\\_]+Command::handle\(\)#'
        ]
        excludes_analyse: [
        ]
    }
}