# Phpqa copia este fichero de configuracion y lo ejecuta desde el directorio "build"
# currentWorkingDirectory es donde se ejecuta phpstan, en este caso desde ./
{
    parameters: {
        level: 6
        paths: [
            %currentWorkingDirectory%/src,
            # %currentWorkingDirectory%/tests
        ]
        checkMissingIterableValueType: false
        ignoreErrors: [
           '#Method [a-zA-Z0-9\\_]+Command::handle\(\)#'
           '#Method GitHooks\\Commands\\CheckConfigurationFileCommand::message[a-zA-Z0-9\\_]+\(\) has parameter#'
           '#Method GitHooks\\Utils\\Printer::message[a-zA-Z0-9\\_]+\(\) has parameter#' #Method GitHooks\Utils\Printer::messageSuccess() has parameter $cadena with no typehint specified.
        ]
        excludes_analyse: [
        ]
    }
}