{
    includes: [ %currentWorkingDirectory%/phpstan-baseline.neon ]
    parameters: {
        tmpDir: %currentWorkingDirectory%/tools/tmp,
        level: 8
        # paths: [
            # %currentWorkingDirectory%/src,
            # %currentWorkingDirectory%/tests
        # ]
        ignoreErrors: [
            '#Call to an undefined method Illuminate\\Contracts\\Filesystem\\Filesystem::path\(\).#'
            '#PHPDoc tag @SuppressWarnings has invalid value#'
        ]
        reportUnmatchedIgnoredErrors: false
        excludePaths: [
            %currentWorkingDirectory%/src/Tools/Process/, # inherits from Symfony
        ]
    }
}